<!-- <div>
    <h2>Alumnos inscriptos en el curso:</h2>
    <ul>
      <li *ngFor="let alumno of alumnosEnElCurso">
        {{ alumno.id }}, {{ alumno.nombre }}, {{ alumno.apellido }}
        <button (click)="quitarCurso(alumno)">Quitar curso</button>
      </li>
    </ul>
    <h2>Alumnos no inscriptos en el curso:</h2>
    <ul>
      <li *ngFor="let alumno of alumnosNoEnElCurso">
        {{ alumno.id }}, {{ alumno.nombre }}, {{ alumno.apellido }}
        <button (click)="agregarCurso(alumno)">Agregar curso</button>
      </li>
    </ul>
    <button (click)="aceptar()">Aceptar</button>
  </div> -->


  <div *ngIf="!modoEditar">
    <h2>Alumnos inscriptos en el curso:</h2>
    <ul>
      <li *ngFor="let alumno of alumnosEnElCurso">
        {{ alumno.id }}, {{ alumno.nombre }}, {{ alumno.apellido }}
      </li>
    </ul>
    <button (click)="modoEditar = true">Modificar</button>
  </div>
  <div *ngIf="modoEditar">
    <h2>Alumnos inscriptos en el curso:</h2>
    <ul>
      <li *ngFor="let alumno of alumnosEnElCurso">
        {{ alumno.id }}, {{ alumno.nombre }}, {{ alumno.apellido }}
        <button (click)="quitarCurso(alumno)">Quitar curso</button>
      </li>
    </ul>
    <h2>Alumnos no inscriptos en el curso:</h2>
    <ul>
      <li *ngFor="let alumno of alumnosNoEnElCurso">
        {{ alumno.id }}, {{ alumno.nombre }}, {{ alumno.apellido }}
        <button (click)="agregarCurso(alumno)">Agregar curso</button>
      </li>
    </ul>
    <button (click)="aceptar()">Aceptar</button>
    <button (click)="cancelar()">Cancelar</button>
  </div>