<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div style="float: right">
        <app-btn-ingreso class="right" (click)="msgBack('Agregar', [])" class="d-flex align-items-center">
        </app-btn-ingreso>
      </div>
      <div>
        <table datatable [dtOptions]="dtOptions" class="display table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th>Dni</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>telefono</th>
              <th>Direccion</th>
              <th>email</th>

              <th id="colBtn"></th>
              <!--   <th></th>
            <th ></th> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of data | async; let i = index">
              <td class="badge text-center align-middlee" scope="row">
                {{ i + 1 }}
              </td>
              <td class="align-middle " id="dni">
                {{ item.dni }}
              </td>
              <td class="align-middle">{{ item.apellido }}</td>
              <td class="align-middle">{{ item.nombre }}</td>
              <td class="align-middle ">{{ item.telefono }}</td>
              <td class="align-middle ">{{ item.direccion }}</td>
              <td class="align-middle " id="correo">
                {{ item.email }}
              </td>


              <td class="align-middle botones">
                <!--             
            <app-btn-agregar
              class="right"
              (click)="msgBack('Alumnos', item)"
              [name]="alumnos"
            >
            </app-btn-agregar> -->

                <!-- <app-btn-agregar
              class="right"
              (click)="msgBack('Vehiculo', item)"
              [name]="vehiculo"
            >
            </app-btn-agregar> -->


                <app-btn-agregar class="right" (click)="msgBack('Cursos', item)" [name]="cursos">
                </app-btn-agregar>


                <app-btn-editar class="right" (click)="msgBack('Editar', item)" class="d-flex align-items-center">
                </app-btn-editar>

                <app-btn-eliminar class="right" (click)="msgBack('Eliminar', item)" class="d-flex align-items-center">
                </app-btn-eliminar>

                <!-- <app-btn-show
              class="align-middle"
              (click)="msgBack('Mostrar', item)"
            >
            </app-btn-show> -->


              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>