<!-- <H1 class="display-1" style="text-align: center;">Cursos </H1> -->

<!-- export interface Cursos {
  id: string;
  nombre: string;
  inicio: string;
  fin: string;
  profesor: string;
  costo: string ;
} -->

<div class="container">
  <div style="float: right" class="pantallasPequenias2">
    <app-btn-ingreso
      class="right"
      (click)="msgBack('Agregar', [])"
      class="d-flex align-items-center"
    >
    </app-btn-ingreso>
  </div>
  <div class="mt-5">
    <table datatable [dtOptions]="dtOptions" class="display table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Nombre</th>
          <th>Inicio</th>
          <th class="pantallasPequenias2">Fin</th>
          <th class="pantallasPequenias">Profesor</th>
          <th class="pantallasPequenias2">Costo</th>
          <th id="colBtn"></th>
          <!--   <th></th>
            <th ></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | async; let i = index">
          <td class="badge text-center align-middlee" scope="row">
            {{ i + 1 }}
          </td>
          <td class="align-middle">{{ item.nombre }}</td>
          <td class="align-middle">{{ item.inicio }}</td>
          <td class="align-middle pantallasPequenias2">{{ item.fin }}</td>
          <td class="align-middle pantallasPequenias">{{ item.profesor }}</td>
          <td class="align-middle pantallasPequenias2" id="costo">
            {{ item.costo }}
          </td>

 

          <td class="align-middle botones">

            <app-btn-agregar
            class="right"
            (click)="msgBack('Profesores', item)"
            [name]="profesor"
          >
          </app-btn-agregar>

          <app-btn-agregar
            class="right"
            (click)="msgBack('Alumnos', item)"
            [name]="alumnos"
          >
          </app-btn-agregar>
            <app-btn-editar
              class="right"
              (click)="msgBack('Editar', item)"
              class="d-flex align-items-center"
            >
            </app-btn-editar>

            <app-btn-eliminar
              class="right"
              (click)="msgBack('Eliminar', item)"
              class="d-flex align-items-center"
            >
            </app-btn-eliminar>

            <app-btn-show
              class="align-middle"
              (click)="msgBack('Mostrar', item)"
            >
            </app-btn-show>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
