
// .modal-dialog {
//     width: 600px; 
//     margin: 0 auto; 
//   }

.modal-body form .form-group {
    max-width: 100%;
  }

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}
  