
<app-horarios-form  [jsonData]="jsonData"></app-horarios-form>
<div *ngIf="titulo === 'Profesores'">
  <app-profesores-control [mostrarVista]="true"></app-profesores-control>
</div>

<div *ngIf="titulo === 'Alumnos'">
  <app-alumnos-control [mostrarVista]="true"></app-alumnos-control>
</div>

<div *ngIf="titulo !== 'Profesores' && titulo !== 'Alumnos'">
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title" *ngIf="!soloVista">
      {{ titulo }} Curso
    </h1>
    <button type="button" class="close btn btn-primary" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="modal-body">
        <form [formGroup]="editForm" novalidate>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <div class="input-group">
              <input formControlName="nombre" class="form-control" required type="text" [ngClass]="{
                  'is-invalid': nombre?.errors && nombre?.touched,
                  'is-valid': !nombre?.errors && !nombre?.touched
                }" [ngClass]="{ isDisabled: soloVista }" />
            </div>
          </div>

          <!-- Inicio - Fin lado a lado  -->
          <td>
            <div class="form-group">
              <label for="inicio">Inicio</label>
              <div class="input-group">
                <input formControlName="inicio" class="form-control" required type="date" />
              </div>
              <!-- Agrega un div para mostrar el mensaje de error -->
              <div *ngIf="Inicio?.errors && Inicio?.touched" class="text-danger fs-6" style="margin-top: 0.25rem">
                <p *ngIf="Inicio?.errors?.required">
                  La fecha de inicio es requerida.
                </p>
                <p *ngIf="Inicio?.errors?.fechaInvalida">
                  La fecha de inicio debe ser anterior a la de fin.
                </p>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="fin">Fin</label>
              <div class="input-group">
                <input formControlName="fin" class="form-control" required type="date" />
              </div>
              <!-- Agrega un div para mostrar el mensaje de error -->
              <div *ngIf="Fin?.errors && Fin?.touched" class="text-danger fs-6" style="margin-top: 0.25rem">
                <p *ngIf="Fin?.errors?.required">
                  La fecha de fin es requerida.
                </p>
                <p *ngIf="Fin?.errors?.fechaInvalida">
                  La fecha de fin debe ser posterior a la de inicio.
                </p>
              </div>
            </div>
          </td>

          <!-- horarios -->

          <div formArrayName="horarios">
            <div *ngFor="let horario of horarios().controls; let empIndex = index">
              <div [formGroupName]="empIndex" style="
                  border: 1px solid blue;
                  padding: 10px;
                  width: 600px;
                  margin: 5px;
                ">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="d-flex align-items-center">
                        <div>
                          {{ empIndex }}
                        </div>

                        <div class="form-group mr-3">
                          <label for="diaSemana">Día de la semana</label>
                          <select formControlName="diaSemana" class="form-control">
                            <option *ngFor="let dia of diasSemana">
                              {{ dia }}
                            </option>
                          </select>
                        </div>

                        <div class="form-group mr-3">
                          <label for="horaInicio">Hora de inicio</label>
                          <ngb-timepicker formControlName="horaInicio" [seconds]="false"      [ngModel]="getHoraValue(horario, empIndex, 'horaInicio')"
                            [minuteStep]="30"></ngb-timepicker>
                        </div>

                        <div class="form-group">
                          <label for="horaFin">Hora de fin</label>
                          <ngb-timepicker formControlName="horaFin" [seconds]="false"
                            [minuteStep]="30"></ngb-timepicker>
                        </div>
                        <div>
                          <button (click)="removecurso(empIndex)">Quitar</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" (click)="addHorario()">
              Agregar Horario
            </button>
          </div>

          <!-- {{ this.editForm.value | json }} -->
          <!-- costos -->

          <div class="form-group">
            <label for="Costo">Costo</label>
            <div class="input-group">
              <input formControlName="costo" class="form-control" required type="costo"
                placeholder="example@example.com" [ngClass]="{
                  'is-invalid': Costo?.errors && Costo?.touched,
                  'is-valid': !Costo?.errors && !Costo?.touched
                }" [ngClass]="{ isDisabled: soloVista }" />
              <div *ngIf="Costo?.errors && Costo?.touched" class="text-danger fs-6">
                <p *ngIf="Costo?.hasError('required')">
                  El costo es requerido.
                </p>
                <p *ngIf="Costo?.hasError('costo')">
                  El formato debe ser válido.
                </p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input formControlName="id" class="form-control" type="hidden" [ngClass]="{ isDisabled: soloVista }" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer" *ngIf="!soloVista">
        <button class="btn btn-success" [disabled]="editForm.invalid" (click)="guardarDatos()">
          {{ titulo }}
        </button>
      </div>
    </div>
  </div>
</div>